/*temp pour construction*/
/* *{
    border: 1px solid rgb(255, 187, 0);
} */

/*Définition police */
@font-face{
    font-family: 'futura-renner';
    src: url('polices/futura-renner/FuturaRenner-Light.otf');
    src: url('polices/futura-renner/FuturaRenner-Regular.otf');
    font-weight: normal;
    font-style: normal;
}



body{
    min-height: 100vh;
    font-family: 'futura-renner', sans-serif;  
    background-color: #949494;
    background-image: url(images_fR/fond_home_transparent.png);
    border-image-repeat: round;
    margin: 0 0;
    padding: 0 0;
}

header{
    z-index: 4;
    display: flex;
    margin: 0;
    height: 75px;
    width: 130%;
    background-color:#030A8C;
    border-bottom: 3px solid #b3daf2;
    box-shadow: 0px 0px 20px 0px black;
    opacity: 1;
}

h2{
    color: #FFF;
}

/*Allonger les champs
input{
    size: 50;
}
*/

#logo{
    z-index: 4;
    width: 130px;
    height: 130px;
    position: absolute;
    left: 0px;
    margin-left: 10%;
    margin-top: 1em;
    border-radius: 50%; /*Contour arrondi*/
    border: 1px solid black;
    box-shadow: 0px 0px 5px 0px black;
}

.led{
    z-index: 5;
    width: 15px;
    height: 15px;
    position: absolute;
    Right: 0px;
    margin-right: 2%;
    margin-top: 1em;
    border-radius: 50%; /*Contour arrondi*/
    border: 1px solid #fff;
}

main{
    display: flex;
    justify-content: left;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    font-size: 2.8em;
}

h3{
    color: #FFF;
    font-size: 2em;
    text-align: center;
    font-style: italic;
}

p{
    color: hsl(0, 0%, 100%);
    font-size: 1.2em;
}

#navbar{
    position: absolute;
    right: 0px;
    display: flex;
    height:auto;
    width: auto;
    font-style: italic;
    margin-top: 1.5em;
}

article{
    margin-top: 5em;                             
}


#navbar a, article a{
    text-decoration: none; /*liens non soulignés*/
    color: #FFFFFF;
}

#navbar li{
    margin-right: 17px;
    font-size: 1.5em;
}

#navbar ul{
    list-style-type: none;  /*puces supprimées */
    display: flex;
    color: #FFFFFF;
}

.container{
    display: flex;
    text-align: left;
    flex-direction: column;
    color: #FFF;
    margin: auto;
    margin-top: 5%;
    width: 80%;
}

.container h2{
    font-size: 2em;
}

#bordure{
    z-index: 5;
    display: flex;
    position: fixed;
    width: 100px;
    height: 100%;
    top: 0px; left: 0px;
    background-image: url(images_fR/banniere.jpg);
    box-shadow: 0px 20px 20px 0px black;
}

#vertical_title{
    vertical-align: middle;
    color: #5c5b5b;
    font-size: 2.2em;
    font-style: italic;
    position: absolute;
    left: 0px; top: 35%;
    width: 400px;
    margin-left: -150px;
    transform: rotate(-90deg);
}

.actu{
    display: flex;
    justify-content: center;
}

.userForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    background-color: white;
    border: 1px solid #707070;
    border-radius: 10px;
    width: 62%;
    height: 25em;
    margin: auto;
    margin-top: 4em;
    font-size: 1.3em;
    font-family: 'futura-renner';
    font-style: italic;
}

.userForm p, .userForm h3{
    color: #000;
    text-align: center;
}

#avisUpdate{
    margin-bottom: 10px;
}

.userForm h3{
    margin-top: 0;
    margin-bottom: 10px;
}

.userForm .connexTitle{
    margin-top: 0px;
}

.userForm h4{
    text-align: center;
}

.errMssg{
    color: red;
    margin-top: 0.5em;
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
}

.okMssg{
    color: green;
    margin-top: 0.5em;
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
}

textarea{
    width: 600px;
    height: 170px;
}

.innerInputs, .stars, .btnContainer{
    margin-top: 15px;
}

.innerInputs h4{
    font-size: 1.2em;
}


/**************Tableaux************/

section{
    margin: auto;
}

table{
    border-collapse: collapse;
    width: auto;
    cursor: pointer;
    margin: 20px auto;
    background-color: #fff;
    color: #5c5b5b;
    font-size: 1.5em;
    text-align: center;
}

table caption{
    color: #fff;
    font-family: 'futura-renner', sans-serif;
    font-style: italic;
    margin-bottom: 1.1em;
    font-size: 1.5em;
    text-align: center;
}

thead tr{
    background-color: #030A8C;
    color: #fff;
    text-align: center;
}

th, td{
    padding: 15px 20px;
    border: 2px solid #fff;
}

tbody tr, td{
    border: 2px solid #ddd;
}

tbody tr:nth-child(even){
    background-color: #f3f3f3;
}

/**************************************/

.userForm a{
    text-decoration: none;
}

.userForm span{
    display: flex;
    justify-content: center;
}

.userForm p{
    margin-bottom: 0px;
}

#messagePhp p{
    text-align: center;
    margin-top: 10px;
    color: red;
}


article{
    z-index: 1; 
    position: absolute;
    text-align: center;
    width: 40%;
    margin-left: 10%;
    text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}

#image_park{
    position: absolute;
    border-radius: 70px;
    width: 624px ;
    height: 564px ;
    border: 1px solid #707070;
    right: 0px;
    margin-top: 40px;
    margin-right: 3%;
}

#decollage{
    position: absolute;
    right: 0px;
    margin-right: 30%;
    border-radius: 70px;
    width: 650px;
    height: 650px ;
    margin-top: 190px;
    border: 1px solid #707070;
}


.pgTitle{
    display: block;
    position: absolute;
    top: 0.9em;
    left: 80px;
    margin-left: 15%;
    font-size: 1.7em;
    font-style: italic;
    text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}

footer{    
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    height: 75px;
    width: 130%;
    background-color:#030A8C;
    border-top: 3px solid #b3daf2;
    box-shadow: 0px 0px 20px 0px black;
    opacity: 1;
}

footer a{
    margin-top: 27px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.menuBg{
    display: none;
}

.burgerBtn{
    display: none;
}


/* Bouton burger et animation */
.burgerBtn{
    z-index: 5;
    width: 21px;
    height: 12px;   
    cursor: pointer;
    position: relative;    
}

.burgerBtn span{
    width: 100%;
    height: 2px;
    background-color: white;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);    
    transition: background-color 0.5s ease-in-out;
}

.burgerBtn span::before, .burgerBtn span::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: transform 0.5s ease-in-out;
}

.burgerBtn span::before{
    transform: translateY(-6px);
}

.burgerBtn span::after{
    transform: translateY(6px);
}

/*******Btn se transforme en croix******/
.burgerBtn.active span{
    background-color: transparent;
}

.burgerBtn.active span::before{
    transform: translateY(0px) rotateZ(45deg);
}

.burgerBtn.active span::after{
    transform: translateY(0px) rotateZ(-45deg);
}

/******Contenu Menu déployant burger*****/
.menuBg{
    height: 310px;
    background-color:#030A8C;
    width: 170px;
    border-radius: 0 0 0px 10px;
    border: 1px solid #b3daf2;
    box-shadow: 0 0 2px 2px;
    margin-right: -5px;
}

.menuBg ul{
    margin-top: 90px;
}

.menuBg li{
    list-style-type: none;/*pour masquer les puces*/
    margin-top: 15px;
}

.menuBg a{
    text-decoration: none; 
    color: #FFFFFF;
    font-size: 1em;
    display: block;
    text-align: left;
    font-family: sans-serif;
}

/* menu déployant fermé */
.invisiblex{
    z-index: 2;
    margin-top: -355px;
    transition-duration: 0.3s;
    position: absolute;
    right: 0px; 
} 
  
/* ouverture menu déployant */
.invisiblex.visiblex{
    margin-top: -10px;
    transition-duration: 0.3s;
}


/*********Boutons Rouge **********/
.dangerBtn {
    margin-top: 15px;
    border: 0;
    line-height: 2;
    padding: 0 20px;
    font-size: 1.2rem;
    text-align: center;
    font-family: 'futura-renner', sans-serif;  
    color: #fff;
    border-radius: 10px;
    background-color: #d03030;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}


.dangerBtn a{
    color: #fff;
}

.dangerBtn:hover {
    background-color: #e85555;
}

.dangerBtn a{
    text-decoration: none;
}

.dangerBtn:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
          
    inset 2px 2px 3px rgba(0, 0, 0, .6);
}

/*****************************/


/*********Boutons**********/
.styled{
    margin-left: 5px;
    margin-top: 15px;
    border: 0;
    line-height: 2;
    padding: 0 20px;
    font-size: 1.2rem;
    text-align: center;
    font-family: 'futura-renner', sans-serif;  
    color: #fff;
    border-radius: 10px;
    background-color: #0361cc;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled a{
    color: #fff;
    text-decoration: none;
}

.styled:hover {
    background-color: #0c49a5;
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6), inset 2px 2px 3px rgba(0, 0, 0, .6);
}

/*****************************/

/*****************************/
/*effets surlignés au survol navbar*/

#navbar a {
  display: inline-block;
}

.menu__itemx:before {
    content: "";
    display: block;
    height: 0.17em;
    width: 0%;
    margin-bottom: -3px;
    background-color: #FFF;
    color: #fff;
    text-decoration: none;
    transition: width 0.4s;
}

.menu__itemx:hover:before {
    width: 100%;
}

/*****************************/
/*effets surlignés au survol burger*/

.menu__itemy:before {
    content: "";
    display: block;
    height: 0.17em;
    width: 0%;
    margin-bottom: 2px;
    background-color: #FFF;
    transition: width 0.4s;
}

.menu__itemy:hover:before {
    width: 73%;
    text-decoration: none;
    color: #fff;
}


/*****************************/
/*****************************/
/*****************************/
/*****************************/


/*Responsive (media queries)*/
@media all and (max-width: 1024px){
    
    #bordure{
        display: none;
    }
    
    #logo{
        width: 65px;
        height: 65px;
        position: absolute;
        left: 0px;
        margin-left: 25px;
        margin-top: 5px;
        margin-left: 3%;
    }
    

    /*Réduction nbre de colonnes sur petits écran*/
    .col_av_5{
        display: none;
    }

    .col_res_4{
        display: none;
    }

    .led{
        z-index: 1;
        width: 15px;
        height: 15px;
        position: absolute;
        Right: 50px;
        margin-right: 3%;
        margin-top: 1.1em;
        border-radius: 50%; /*Contour arrondi*/
        border: 1px solid #fff;
    }

    .burgerBtn{
        position: absolute;
        right: 25px;
        top: 20px;

    }
    
    section{
        margin: auto;
    }

    .userForm{
        font-size: 1em;
    }

    textarea{
        width: min-content;
        height: max-content;
    }
    
    table{
        font-size: 1em;
    }

    table caption{
        text-align: left;
    }

    th, td{
        padding: 0px 5px;
    }

    /****masquer la navbar desktop******/
    #navbar{
        display: none;
    }
    
    
    /***Activation menu small devices*******/
    .burgerBtn{
        display: block;
    }
    
    .menuBg{
        display: block;
    }
    
    /***reduction hauteur du bandeau supérieur****/
    header{
        height: 50px;
    }

    /* set opacity property to 0.5*/
    #decollage{  
        transition: opacity 1s;  
        opacity: 0.3; 
    }

    #image_park{
        transition: opacity 1s;  
        opacity: 0.3; 
    }

    .pgTitle{
        display: block;
        position: absolute;
        top: 0.1em;
        left: 80px;
        margin-left: 2%;
        font-size: 1.5em;
        font-style: italic;
        text-shadow: 1px 1px 0 #000,
        -1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000,
        0px 1px 0 #000,
        0px -1px 0 #000,
        -1px 0px 0 #000,
        1px 0px 0 #000,
        2px 2px 0 #000,
        -2px 2px 0 #000,
        2px -2px 0 #000,
        -2px -2px 0 #000,
        0px 2px 0 #000,
        0px -2px 0 #000,
        -2px 0px 0 #000,
        2px 0px 0 #000,
        1px 2px 0 #000,
        -1px 2px 0 #000,
        1px -2px 0 #000,
        -1px -2px 0 #000,
        2px 1px 0 #000,
        -2px 1px 0 #000,
        2px -1px 0 #000,
        -2px -1px 0 #000;
    }

    .userForm{
        width: 82%;
        height: 30em;
        margin-top: 3em;
        margin-bottom: 4em;
    }

}

/*************boutons******************/


/*****************************/

/* Style The Dropdown Button */
.dropbtn {
    margin-left: 5px;
    margin-top: 15px;
    border: 0;
    line-height: 2;
    padding: 0 20px;
    font-size: 1.2rem;
    background-color: #0361cc;    
    font-family: 'futura-renner', sans-serif; 
    font-style: normal;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}
  
/* The container (pour afficher le contenu du menu déroulant) */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Contenu (caché par défaut) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
      background-color: #0c49a5;
}


.btnContainer{
    display: flex;
    justify-content: center;
}